@model RealEstate.PL.ViewModels.Auth.SignUpViewModel
@{
    ViewData["Title"] = "Login Now";
    Layout = "_Auth";
}
 
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center overflow-hidden shadow-layer">
    <div class="row w-100 h-80">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="~/assets/images/Login.png" alt="Real Estate Image" class="img-fluid img-container" style="max-height: 100%; max-width: 100%; object-fit: cover;">
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">

            <div class="w-75">
                <h2 class="text-center mb-4">Register Now</h2>
                <div asp-validation-summary="ModelOnly" id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                @if (TempData["Error"] != null)
                {
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["Error"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["Success"] != null)
                {
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["Success"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <form asp-controller="Auth" asp-action="SignUp" method="POST">
                    <div class="form-group mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control " />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" ></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                  
                    <button type="submit" class="btn btn-primary w-100">SignUp</button>
                </form>

                <a asp-controller="Home" asp-action="Index" class="d-block mt-3 text-primary">Back to Home</a>
                <a asp-controller="Auth" asp-action="Login" class="d-block mt-3 text-primary">Do have an account ?</a>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
