@{
    ViewData["Title"] = "About Us";
}

<!-- page-title -->
<section class="page__title p_relative" style="margin:0px">
    <div class="container-fluid">
        <div class="content-box p_relative">
            <h1 class="title">About</h1>
        </div>
    </div>
</section>
<!-- service -->
<section class="service__two see__pad p_relative">
    <div class="anim-icon">
        <div class="icon icon-01 float-bob-y" style="background-image:url(assets/images/icons/icon-21.svg)"></div>
        <div class="icon icon-02 float-bob-y" style="background-image:url(assets/images/icons/icon-22.svg)"></div>
    </div>
    <div class="service__two__content">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sub__title">
                    <span>Our Services</span>
                </div>
                <h2>Our Main <span> Focus </span> </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="inner__content">
                        <div class="icon__box">
                            <div class="icon__outer">
                                <div class="icon__bg">
                                    <span class="icon-icon-06"></span>
                                </div>
                            </div>
                        </div>
                        <div class="service__text">
                            <h4><a href="services-details.html">Buy a home</a></h4>
                            <p>Sed ut perspiciatis unde omnis iste natus <br> error sit voluptatem accusantium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="inner__content">
                        <div class="icon__box">
                            <div class="icon__outer">
                                <div class="icon__bg">
                                    <span class="icon-icon-07"></span>
                                </div>
                            </div>
                        </div>
                        <div class="service__text">
                            <h4><a href="services-details.html">Find a home</a></h4>
                            <p>Sed ut perspiciatis unde omnis iste natus <br> error sit voluptatem accusantium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="inner__content">
                        <div class="icon__box">
                            <div class="icon__outer">
                                <div class="icon__bg">
                                    <span class="icon-icon-17"></span>
                                </div>
                            </div>
                        </div>
                        <div class="service__text">
                            <h4><a href="services-details.html"> Rent a home</a></h4>
                            <p>Sed ut perspiciatis unde omnis iste natus <br> error sit voluptatem accusantium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service end -->

<section class="our__team p_relative see__pad">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Our <span> Team </span> </h2>
    </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 p-xl-0 pb-30">
                <div class="team__content one p_relative rounded-lg">
                    <div class="anim-icon">
                        <div class="icon icon-01 float-bob-y" style="background-image:url(/assets/images/icons/icon-08.svg)"></div>
                    </div>
                    <div class="team__block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="team-details.html">
                                        <img src="/assets/images/team/team-01.png" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="lower__content p_relative">
                                <div class="anim-icon">
                                    <div class="icon icon-02 float-bob-x" style="background-image:url(/assets/images/shape/shape-07.png)"></div>
                                </div>
                                <div class="team__media">
                                    <ul>
                                        <li><a href="index-2.html"> <span class="icon-icon-27"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-29"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-14"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-46"></span> </a></li>
                                        <li><a href="index-2.html"> <span class="icon-icon-50"></span> </a> </li>
                                    </ul>
                                </div>
                                <div class="team__info">
                                    <div class="team__left">
                                        <h4><a href="team-details.html">Vinnay <span>Duya</span></a>  </h4>
                                        <p>Ex Advisor</p>
                                    </div>
                                    <div class="team__right">
                                        <ul>
                                            <li><a href="mailto:info@gmail.com"> <span class="icon-icon-30"></span> </a></li>
                                            <li><a href="tel:974364364367"> <span class="icon-icon-35"></span> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-xl-0 pb-30">
                <div class="team__content two p_relative">
                    <div class="anim-icon">
                        <div class="icon icon-01 float-bob-y" style="background-image:url(/assets/images/icons/icon-20.svg)"></div>
                    </div>
                    <div class="team__block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="team-details.html">
                                        <img src="/assets/images/team/team-02.png" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="lower__content p_relative">
                                <div class="anim-icon">
                                    <div class="icon icon-02 float-bob-x" style="background-image:url(/assets/images/shape/shape-07.png)"></div>
                                </div>
                                <div class="team__media">
                                    <ul>
                                        <li><a href="index-2.html"> <span class="icon-icon-27"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-29"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-14"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-46"></span> </a></li>
                                        <li><a href="index-2.html"> <span class="icon-icon-50"></span> </a> </li>
                                    </ul>
                                </div>
                                <div class="team__info">
                                    <div class="team__left">
                                        <h4><a href="team-details.html">Jane <span>Cooper</span> </a></h4>
                                        <p>Brocker & Advisor</p>
                                    </div>
                                    <div class="team__right">
                                        <ul>
                                            <li><a href="mailto:info@gmail.com"> <span class="icon-icon-30"></span> </a></li>
                                            <li><a href="tel:974364364367"> <span class="icon-icon-35"></span> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-xl-0 pb-30">
                <div class="team__content one p_relative">
                    <div class="anim-icon">
                        <div class="icon icon-01 float-bob-y" style="background-image:url(/assets/images/icons/icon-08.svg)"></div>
                    </div>
                    <div class="team__block">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="team-details.html">
                                        <img src="/assets/images/team/team-03.png" alt="">
                                    </a>
                                </figure>
                            </div>
                            <div class="lower__content p_relative">
                                <div class="anim-icon">
                                    <div class="icon icon-02 float-bob-x" style="background-image:url(/assets/images/shape/shape-07.png)"></div>
                                </div>
                                <div class="team__media">
                                    <ul>
                                        <li><a href="index-2.html"> <span class="icon-icon-27"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-29"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-14"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-46"></span> </a></li>
                                        <li><a href="index-2.html"> <span class="icon-icon-50"></span> </a> </li>
                                    </ul>
                                </div>
                                <div class="team__info">
                                    <div class="team__left">
                                        <h4><a href="team-details.html">Jon <span>Kayno</span></a> </h4>
                                        <p>CEO & Director </p>
                                    </div>
                                    <div class="team__right">
                                        <ul>
                                            <li><a href="mailto:info@gmail.com"> <span class="icon-icon-30"></span> </a></li>
                                            <li><a href="tel:974364364367"> <span class="icon-icon-35"></span> </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
