@model RealEstate.PL.ViewModels.Home.ContactUsViewModel

@{
    ViewData["Title"] = "Contact Now";
}


<!-- page-title -->
<section class="page__title p_relative" style="margin:0px">
    <div class="container">
        <div class="content-box p_relative">
            <h1 class="title">Contact</h1>
        </div>
    </div>
</section>
<section class="contact__style__one see__pad">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 info-column">
                <div class="contact-info mr_70">
                    <h3>Lets talk!</h3>
                    <p>Quisque vitae volutpat leo. Cras scelerisque dignissim diam, nec auctor nisl pretium eu. Sed vulputate leo ac porta eleifend. Pellentesque semper convallis lacus, </p>
                    <div class="contact__info__block">
                        <div class="left__site__info">
                            <div class="contact__icon one">
                                <span class="icon-56"></span>
                            </div>
                        </div>
                        <div class="right__site__info one">
                            <h5>Call us</h5>
                            <a href="tel:+12345   6987   231 ">+12345   6987   231 </a>
                        </div>
                    </div>
                    <div class="contact__info__block">
                        <div class="left__site__info">
                            <div class="contact__icon two">
                                <span class="icon-55"></span>
                            </div>
                        </div>
                        <div class="right__site__info two">
                            <h5>E-mail Address</h5>
                            <a href="mailto:info@yourmail.com">info@yourmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                <div class="form-inner">
                    <div class="contact___title">
                        <h3> Send us a message </h3>
                        <p>Quisque vitae volutpat leo. Cras scelerisque dignissim diam, nec auctor nisl pretium eu. Sed vulputate leo ac porta eleifend. Pellentesque semper convallis lacus, </p>
                    </div>
                    <div asp-validation-summary="ModelOnly" id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["Error"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    @if (TempData["Success"] != null)
                    {
                        <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["Success"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-action="ContactUs" asp-controller="Home" id="contact-form">
                        @Html.AntiForgeryToken()

                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input asp-for="Name" >
                                <span asp-validation-for="Name" style=" font-size: 0.875em; font-weight: bold; margin-left: 0.5rem; display: inline-block; vertical-align: middle;"></span> <!-- Stylish inline validation message -->

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ps-xl-0 form-group">
                                <input asp-for="Email" >
                                <span asp-validation-for="Email" style=" font-size: 0.875em; font-weight: bold; margin-left: 0.5rem; display: inline-block; vertical-align: middle;"></span> <!-- Stylish inline validation message -->

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <textarea asp-for="Message"></textarea>
                                <span asp-validation-for="Message" style=" font-size: 0.875em; font-weight: bold; margin-left: 0.5rem; display: inline-block; vertical-align: middle;"></span> <!-- Stylish inline validation message -->

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn mr-0">
                                <div class="more__buttons">
                                    <button class="common-btn btn__two" type="submit" name="submit-form">Send Your Message <i class="icon-icon-51"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}