@{
    ViewData["Title"] = "FAQS";
}

<!-- page-title -->
<section class="page__title p_relative" style="margin:0px">
  
    <div class="container">
        <div class="content-box p_relative">
            <h1 class="title">FAQs</h1>
        </div>
    </div>
</section>
<!-- page-title end-->
<!-- faq-section -->
<section class="faq__section p_relative">
    <div class="container" style="margin-top:50px;margin-bottom:50px;">
        <div class="sec-title text-center mt-5" style="margin-bottom:50px;">
            <h2>
                Do you need help?
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                <div class="content_block_faq">
                    <div class="accordian-boxed">
                        <!--Accordian Box-->
                        <ul class="accordion-box alt">
                            <!--Block-->
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer">
                                        <span class="icon-icon-38"></span>
                                        <span class="icon-icon-11"></span>
                                    </div>
                                    <span class="body__one">How can I make a change to my application?</span>
                                </div>
                                <div class="acc-content" style="display: block;">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer">
                                        <span class="icon-icon-38"></span>
                                        <span class="icon-icon-11"></span>
                                    </div>
                                    <span class="body__one">How can i make refund from your website? </span>
                                </div>
                                <div class="acc-content" style="display: none;">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer">
                                        <span class="icon-icon-38"></span>
                                        <span class="icon-icon-11"></span>
                                    </div>
                                    <span class="body__one">Are my details secured?  </span>
                                </div>
                                <div class="acc-content current" style="display: none;">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer">
                                        <span class="icon-icon-38"></span>
                                        <span class="icon-icon-11"></span>
                                    </div>
                                    <span class="body__one">Sale code is not working ? </span>
                                </div>
                                <div class="acc-content current" style="display: none;">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                                    </div>
                                </div>
                            </li>
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer">
                                        <span class="icon-icon-38"></span>
                                        <span class="icon-icon-11"></span>
                                    </div>
                                    <span class="body__one">How do I make payment by my credit card ?  </span>
                                </div>
                                <div class="acc-content current" style="display: none;">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
