
@{
    ViewData["Title"] = "Property Details";
}

<section class="page__title p_relative" style="margin:0px">
    <div class="container">
        <div class="content-box p_relative">
            <h1 class="text-center" style="color:white">@ViewData["Title"]</h1>
        </div>
    </div>
</section>

<!-- image-gallery -->
<section class="image__gallery">
    <div class="image__gallery__content">
        <div class="row">
            <div class="col-xxl-8 col-xl-12 image__gallery__left">
                <div class="inner__box" style="background-image:url(~/assets/images/gallery/gallery-image-01.png)">
                    <div class="image__gallery__feature_image">
                        <img class="d-block d-xxl-none" src="~/assets/images/gallery/gallery-image-01.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-12 image__gallery__right">
                <div class="row">
                    <div class="col-xxl-12 col-xl-6 col-lg-6 col-md-12 gallery__top">
                        <div class="inner__box">
                            <div class="image__box">
                                <figure class="image">
                                    <img src="~/assets/images/gallery/gallery-image-02.png" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-xl-6 col-lg-6 col-md-12 pt-4 gallery__bottom">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="inner__box">
                                    <div class="image__box">
                                        <figure class="image">
                                            <img src="~/assets/images/gallery/gallery-image-03.png" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 last__gallery">
                                <div class="inner__box">
                                    <div class="image__box ">
                                        <figure class="image">
                                            <a href="#gallery-1" class="btn-gallery p_relative">
                                                <img src="~/assets/images/gallery/gallery-image-04.png" alt="">
                                                <div class="number__of__img p_absolute">
                                                    <h2>14+</h2>
                                                </div>
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <div id="gallery-1" class="hidden">
                                    <a href="~/assets/images/gallery/gallery-01.jpg">Image 1</a>
                                    <a href="~/assets/images/gallery/gallery-02.jpg">Image 2</a>
                                    <a href="~/assets/images/gallery/gallery-03.jpg">Image 3</a>
                                    <a href="~/assets/images/gallery/gallery-04.jpg">Image 4</a>
                                    <a href="~/assets/images/gallery/gallery-05.jpg">Image 5</a>
                                    <a href="~/assets/images/gallery/gallery-06.jpg">Image 6</a>
                                    <a href="~/assets/images/gallery/gallery-07.jpg">Image 7</a>
                                    <a href="~/assets/images/gallery/gallery-08.jpg">Image 8</a>
                                    <a href="~/assets/images/gallery/gallery-09.jpg">Image 9</a>
                                    <a href="~/assets/images/gallery/gallery-10.jpg">Image 10</a>
                                    <a href="~/assets/images/gallery/gallery-11.jpg">Image 11</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- image-gallery end-->
<!-- property__details -->
<section class="property__details pt-60 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12 pb-30">
                <div class="property__details__content">
                    <div class="property__one">
                        <div class="property__one__left">
                            <h3>Ready Resort for Sell</h3>
                            <ul class="place__info">
                                <li><span class="icon-icon-31"></span> My geo location</li>
                                <li><span class="icon-icon-23"></span> July 2, 2022</li>
                                <li><span class="icon-icon-47"></span> Review: 240</li>
                            </ul>
                        </div>
                        <div class="property__one__right">
                            <span class="price">$25,235.00 </span>
                            <ul class="location__info">
                                <li><a href="index.html"><span class="icon-icon-31"></span></a></li>
                                <li><a href="index.html"><span class="icon-icon-02"></span></a></li>
                                <li><a href="index.html"><span class="icon-icon-24"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property__two">
                        <div class="property__two__title">
                            <h4>About This Listing</h4>
                        </div>
                        <div class="property__two__content">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                        </div>
                    </div>
                    <div class="property__two">
                        <div class="property__two__title">
                            <h4>Property Type</h4>
                        </div>
                        <div class="property__two__content">
                            <div class="property__type">
                                <div class="property__type__info">
                                    <div class="property__type__info__list">
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Property ID:</span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>HZ29</span>
                                            </div>
                                        </div>
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Home Area: </span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>120 sqft</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property__type__info__list">
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Practice Area :</span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>USA</span>
                                            </div>
                                        </div>
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Lot dimensions </span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>4</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property__type__info__list">
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Baths:</span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>220 sqft</span>
                                            </div>
                                        </div>
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Beds: </span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>14</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property__type__info__list">
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Year built:</span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>1852</span>
                                            </div>
                                        </div>
                                        <div class="property__type__block">
                                            <div class="property__type__info__content">
                                                <span class="text__bold">Price:</span>
                                            </div>
                                            <div class="property__type__info__content">
                                                <span>$25,235.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property__two">
                        <div class="property__two__title">
                            <h4>Amenities</h4>
                        </div>
                        <div class="property__two__content">
                            <ul class="amenities">
                                <li><span class="icon-icon-49"></span> TV Cable</li>
                                <li><span class="icon-icon-49"></span> Air Conditioning</li>
                                <li><span class="icon-icon-49"></span> Barbeque</li>
                                <li><span class="icon-icon-49"></span> Gym</li>
                                <li><span class="icon-icon-49"></span> Washer</li>
                            </ul>
                            <ul class="amenities pt-20">
                                <li><span class="icon-icon-49"></span> Sauna</li>
                                <li><span class="icon-icon-49"></span> Microwave</li>
                                <li><span class="icon-icon-49"></span> Outdoor Shower</li>
                                <li><span class="icon-icon-49"></span> Laundry</li>
                                <li><span class="icon-icon-49"></span> Swimming Pool</li>
                            </ul>
                        </div>
                    </div>
                    <div class="property__two">
                        <div class="property__two__title">
                            <h4>Location</h4>
                        </div>
                        <div class="property__two__content">
                            <div class="location">
                                <div class="image__box p_relative">
                                    <figure class="image">
                                        <img src="~/assets/images/resource/location-map.png" alt="">
                                    </figure>
                                    <div class="location__icon ">
                                        <img src="~/assets/images/resource/map-icon-sm.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property__two">
                        <div class="property__two__title">
                            <h4>Floor Plans</h4>
                        </div>
                        <div class="property__two__content">
                            <div class="floor_plans_tab">
                                <div class="tabs-box">
                                    <div class="tab-btn-box p_relative">
                                        <ul class="tab-btns tab-buttons clearfix">
                                            <li class="tab-btn" data-tab="#tab-1">
                                                <span class="tab___all"> First Floor Plan </span>
                                            </li>
                                            <li class="tab-btn active-btn" data-tab="#tab-2">
                                                <span class="tab___all"> Second Floor Plan </span>
                                            </li>
                                            <li class="tab-btn" data-tab="#tab-3">
                                                <span class="tab___all"> Third  Floor Plan</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                                        <div class="tab" id="tab-1">
                                            <div class="inner-box">
                                                <div class="floor_plans_content">
                                                    <div class="floor_plans_left">
                                                        <ul class="more__details">
                                                            <li><span class="icon-icon-04"></span>03</li>
                                                            <li><span class="icon-icon-05"></span>02</li>
                                                            <li><span class="icon-icon-42"></span> 600 Sq Ft</li>
                                                            <li><span class="icon-icon-34"></span>2</li>
                                                        </ul>
                                                        <div class="image__box">
                                                            <figure class="image">
                                                                <img src="~/assets/images/resource/floor-plan-12.png" alt="">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="floor_plans_right">
                                                        <h6>First Floor Plan</h6>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab active-tab" id="tab-2">
                                            <div class="inner-box">
                                                <div class="floor_plans_content">
                                                    <div class="floor_plans_right">
                                                        <h6>Second Floor Plan</h6>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                                                    </div>
                                                    <div class="floor_plans_left">
                                                        <ul class="more__details">
                                                            <li><span class="icon-icon-04"></span>03</li>
                                                            <li><span class="icon-icon-05"></span>02</li>
                                                            <li><span class="icon-icon-42"></span> 600 Sq Ft</li>
                                                            <li><span class="icon-icon-34"></span>2</li>
                                                        </ul>
                                                        <div class="image__box">
                                                            <figure class="image">
                                                                <img src="~/assets/images/resource/floor-plan-11.png" alt="">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab" id="tab-3">
                                            <div class="inner-box">
                                                <div class="floor_plans_content">
                                                    <div class="floor_plans_left">
                                                        <ul class="more__details">
                                                            <li><span class="icon-icon-04"></span>03</li>
                                                            <li><span class="icon-icon-05"></span>02</li>
                                                            <li><span class="icon-icon-42"></span> 600 Sq Ft</li>
                                                            <li><span class="icon-icon-34"></span>2</li>
                                                        </ul>
                                                        <div class="image__box">
                                                            <figure class="image">
                                                                <img src="~/assets/images/resource/floor-plan-10.png" alt="">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="floor_plans_right">
                                                        <h6>Third  Floor Plan</h6>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property__two">
                        <div class="property__two__title">
                            <h4>360° Virtual Tour</h4>
                        </div>
                        <div class="property__two__content">
                            <div class="image__box">
                                <figure class="image">
                                    <img src="~/assets/images/resource/virtual.png" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="blog__sidebar default__sidebar">
                    <div class="sidebar__widget about__author">
                        <h4 class="title">Contact Listing Owner</h4>
                        <div class="author__info">
                            <figure class="author__thumb"><img src="~/assets/images/news/news-author.png" alt=""></figure>
                            <div class="re__post__content">
                                <h5>Jane Cooper </h5>
                                <p><a href="team-details.html">View Website</a> </p>
                                <div class="team__media">
                                    <ul>
                                        <li><a href="index-2.html"> <span class="icon-icon-27"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-29"></span> </a> </li>
                                        <li><a href="index-2.html"> <span class="icon-icon-14"></span> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="author__text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiumt site be doloremque laudantium.</p>
                        </div>
                    </div>
                    <div class="sidebar__widget post__widget">
                        <div class="widget-title">
                            <h4 class="title">Latest Listings</h4>
                        </div>
                        <div class="widget-content">
                            <div class="post-inner">
                                <div class="post">
                                    <figure class="post__thumb"><a href="blog-details.html"><img src="~/assets/images/news/re-post-01.png" alt=""></a></figure>
                                    <div class="re__post__content">
                                        <h6><a href="blog-details.html">Ready Resort for Sell</a></h6>
                                        <div class="location">
                                            <p><span class="icon-icon-36"></span> New Jersey</p>
                                        </div>
                                        <div class="price__post">
                                            <p>$25,235.00 / <span>yr</span> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post">
                                    <figure class="post__thumb"><a href="blog-details.html"><img src="~/assets/images/news/re-post-02.png" alt=""></a></figure>
                                    <div class="re__post__content">
                                        <h6><a href="blog-details.html">Apartment For Sale</a></h6>
                                        <div class="location">
                                            <p><span class="icon-icon-36"></span>Home Town</p>
                                        </div>
                                        <div class="price__post">
                                            <p>$22,342.00 / <span>yr</span> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post">
                                    <figure class="post__thumb"><a href="blog-details.html"><img src="~/assets/images/news/re-post-03.png" alt=""></a></figure>
                                    <div class="re__post__content">
                                        <h6><a href="blog-details.html">Fortune Condo Town</a></h6>
                                        <div class="location">
                                            <p><span class="icon-icon-36"></span> Zexton Twon</p>
                                        </div>
                                        <div class="price__post">
                                            <p>$44,000.00 / <span>yr</span> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post">
                                    <figure class="post__thumb"><a href="blog-details.html"><img src="~/assets/images/news/re-post-04.png" alt=""></a></figure>
                                    <div class="re__post__content">
                                        <h6><a href="blog-details.html">Condo For Rent</a></h6>
                                        <div class="location">
                                            <p><span class="icon-icon-36"></span> Water Lili</p>
                                        </div>
                                        <div class="price__post">
                                            <p>$66,345.00 / <span>yr</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__widget button__widget">
                        <div class="image__box">
                            <figure class="image">
                                <img src="~/assets/images/news/blog-button.png" alt="">
                            </figure>
                            <div class="image__button">
                                <a href="property.html"> Find Your Dream House <i class="icon-icon-49"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- property__details end-->